<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Open+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header-container">
      <div class="logo-container">
        <div class="logo">That is it for today</div>
      </div>

      <div class="button-container">
        <div class="nav-box">
          <div class="nav-button">Record Video</div>
          <div class="nav-button">My Videos</div>
        </div>

        <div class="login-box">
          <div class="sign-button">Log in</div>
        </div>
      </div>
    </header>

    <section class="section">
      <div class="half-box">
        <img class="login-image" src="/images/login.jpg" alt="login-image" />
      </div>
      <div class="half-box">
        <div class="google-btn">
          <div class="google-icon-wrapper">
            <img
              class="google-icon"
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4="
            />
          </div>
          <p class="btn-text"><b>Sign in with google</b></p>
        </div>
      </div>
    </section>

    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.8/firebase-app.js";
      import {
        getAuth,
        signInWithPopup,
        GoogleAuthProvider,
      } from "https://www.gstatic.com/firebasejs/9.6.8/firebase-auth.js";

      const firebaseConfig = {
        apiKey: "AIzaSyAzIvbwwir2hjhOB-FE_EP-_UrBi3TtYbE",
        authDomain: "that-is-it-for-today.firebaseapp.com",
        projectId: "that-is-it-for-today",
        storageBucket: "that-is-it-for-today.appspot.com",
        messagingSenderId: "381161127634",
        appId: "1:381161127634:web:7953654869772874dff70b",
        measurementId: "G-B89QMQJSMY",
      };

      const app = initializeApp(firebaseConfig);

      const auth = getAuth(app);
      const provider = new GoogleAuthProvider();

      const signInWithGoogle = async () => {
        try {
          const userInfo = await signInWithPopup(auth, provider);

          const { email, photoURL, displayName } = userInfo.user;
          const user = {
            email,
            photoURL,
            displayName,
          };

          return user;
        } catch (error) {
          console.log(error);
        }
      };

      const $googleLoginButton = document.querySelector(".google-btn");

      $googleLoginButton.addEventListener("click", async () => {
        try {
          const userInfo = await signInWithGoogle();

          const response = await fetch(
            "https://api.that-is-it-for-today.com/api/auth/login",
            {
              method: "POST",
              body: {
                email: userInfo.email,
              },
            }
          );
          const data = await response.json();

          const { accessToken, refreshToken } = data;

          localStorage.setItem("accessToken", accessToken);
          localStorage.setItem("refreshToken", refreshToken);

          window.location = "https://that-is-it-for-today.com";

          if (data.result === RESPONSE.USER_DOES_NOT_EXIST) {
            const { data: signUpResult } = await fetch(
              "https://api.that-is-it-for-today.com/api/auth/signup",
              {
                method: "POST",
                body: {
                  userInfo,
                },
              }
            );
          }
        } catch (error) {
          console.log(error);
        }
      });
    </script>
  </body>
</html>
