.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  border-bottom: 2px solid #eeeeee;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0.5em;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0.5em;
}

.nav-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
  height: 100%;
  padding: 0.5em;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  padding: 0.5em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 16px 0.5em;
  margin: 0.5em;
  background-color: transparent;
  color: #2196f3;
  font-family: "ABeeZee";
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  padding: 16px 0.1em;
  margin: 0.5em;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #90caf9;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 600;
}

.sign-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 16px 0.5em;
  margin: 0.5em;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 600;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.half-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.login-image {
  width: 75%;
  height: 60%;
  border-radius: 1rem;
}

.google-btn {
  width: 200px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
}

.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
  background: #1669f2;
}
